
.headin_elem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FAF9F6;
    align-items: center;
  }
  
  .insideA {
    display: flex;
    align-items: flex-start;
  }
  
  .insideA > * {
    margin: 20px;
  }
  
  .insideB {
    display: flex;
  }
  
  .topmost-head {
    display: flex;
    margin-left: -140px;
    align-items: center;
  }

  .topmost-head-inner {
    width: 30px;
    height: 50px;
    padding: 10px;
    color: green;
  }

  .abcde {
    height: 40px;
    width: 30px;
    color: gray;
    margin: 10px;
} 